* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainContainer {
    width: 100%;
    min-height: 100vh;
    background: url(/images/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapperContainer {
    /* background: purple; */
    background: #dde1e7;
    border-radius: .5rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 8px;

}

.helloDiv, .welcomeDiv, .pageDiv, .buttonDiv {
    background: green;
}