* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainContainer {
    width: 100%;
    min-height: 100vh;
    /* background: blue; */
    background: #dde1e7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title h1 {
    text-align: center;
}

#errorBox, .errorPassword {
    color: red;
    width: 100%;
    /* background-color: white; */
    font-weight: bold;
    padding: 0 4px;

}

.wrapperContainer {
    width: fit-content;
    /* background: purple; */
    background: #dde1e7;
    color: gray;
    border-radius: 10px;
    box-shadow: -3px -3px 7px #ffffff73, 2px 2px 5px rgba(94, 104, 121, 0.288);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.wrapperContainer form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* width: 100%;
    max-width: 500px; */
    /* background: brown; */
    padding: 1rem;
}

.inputEmail, .inputName, .inputPassword, .inputPassConfirm {
    position: relative;
    /* padding: 8px 0; */
    /* background: green; */
    width: 100%;
}

.wrapperContainer form div input {
    /* background: red; */
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    padding: 0px 30px;
    border-radius: 6px;
    color: black;
    font-size: 15px;
    background-color: transparent;
    box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #ffffff73;
}

/* .errorPassword {
    
    color: red;
    width: 100%;
    padding: 8px;
} */

.inputEmail i, .inputName i, .inputPassword i, .inputPassConfirm i {
    position: absolute;
}

.fa-circle-check {
    color: green;
}

.fa-circle-exclamation {
    color: red;
}

.fa-circle-exclamation, .fa-circle-check {
    right: 5%;
    top: 35%;
    opacity: 0;
}

.fa-lock, .fa-user, .fa-envelope {
    left: .6rem;
    top: 35%;
}

.userAdmin {
    padding-left: 12px;
}

.buttonAndSelect {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.userAdmin, .registerBtn {

    /* text-align: center; */
    padding: 10px;
    font-size: 20px;
    background: #dde1e7;
    border-radius: 6px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #595959;
    box-shadow: 2px 2px 5px #BABECC, -5px -5px 10px #ffffff73;
    width: 100%;
    margin: 0 8px;
}

.registerBtn:focus {
    color: #3498db;
    box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #ffffff73;
}

.loginLinkDiv a {
    text-decoration: none;
    color: #3498db;
}