/* Set default styles for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set styles for specific classes */
.inputName,
.inputEmail,
.inputPassword,
.confirmPass,
.submitButtonDiv {
    display: flex;
    flex-direction: column;
    padding: 8px;
    position: relative;
    width: 100%;
}

.mainContainer {

    background: #dde1e7;
    /* background: black; */
    /* background: url(/images/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; */
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.masterContainer {
    padding: 1rem;
}

.formContainer {
    background: #dde1e7;
    color: gray;
    border-radius: 10px;
    box-shadow: -3px -3px 7px #ffffff73, 2px 2px 5px rgba(94, 104, 121, 0.288);
    padding: 1rem;
    display: flex;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    /* width: 300px; */
}

.nameError,
.emailError,
.passwordError {
    color: red;
    padding: 1px;
    margin-top: 3px;
    border-radius: 3px;
    font-size: 1rem;
    font-weight: bold;
}

form label {
    display: block;
    margin-bottom: .5rem;
}

form input::placeholder {
    font-size: 1rem;
}

form div input {
    width: 100%;
    /* max-width: 300px;
    flex: 1; */
    height: 45px;
    border: none;
    outline: none;
    padding: 0px 30px;
    border-radius: 6px;
    color: black;
    font-size: 15px;
    background-color: transparent;
    box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #ffffff73;
}

form div i {
    font-size: 20px;
    position: absolute;
}

form div .fa-circle-check {
    color: green;
}

form div .fa-circle-exclamation {
    color: red;
}

.inputIcons,
.email_Icons,
.password_Icons {
    position: relative;
    width: 100%;
    max-width: 400px;
}

form div .fa-envelope,
form div .fa-user,
form div .fa-lock {
    position: absolute;
    top: 26%;
    left: 6px;
}

form div .fa-circle-exclamation,
form div .fa-circle-check {
    left: 89%;
    top: 27%;
    opacity: 0;
}

.formContainer button {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    background: #dde1e7;
    border-radius: 6px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #595959;
    box-shadow: 2px 2px 5px #BABECC, -5px -5px 10px #ffffff73;
}

.formContainer button:focus {
    color: #3498db;
    box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #ffffff73;
}

.submitButtonDiv {
    width: 100%;
}

.confirmPass {
    width: 100%;
    height: 100px;
}

.confirmPassword {
    position: relative;
}

.passConfirm {
    position: absolute;
    top: 30%;
}

.forgotPassDiv, .signUpDiv {
    /* background: red; */
    padding: 8px;
    width: 100%;
}

#signUpLink, #resetPassLink {
    text-decoration: none;
    color: #3498db;
}