* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inputName, .inputEmail, .inputPassword {
    display: flex;
    flex-direction: column;
    padding: 8px;
    background: rgb(128, 0, 64);
    position: relative;
}

.mainContainer {
    background: blue;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formContainer {
    background: purple;
    width: fit-content;
    padding: 1rem;
    display: flex;

}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;

}

.nameError, .emailError, .passwordError {
    color: red;
    padding: 1px;
    margin-top: 3px;
    background: white;
    text-align: center;
}

form label {
    color: aqua;
    display: block;
    /* background: yellow; */
    margin-bottom: .5rem;
}

form input::placeholder {
    font-size: 1rem;
    /* padding: 0 25px; */
}

form div input {
    /* width: 100%; */
    /* max-width: 600px; */
    /* flex: 1; */
    height: 45px;
    border: none;
    outline: none;
    padding: 0px 30px;
    border-radius: 6px;
    color: #fff;
    font-size: 15px;
    background-color: transparent;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 1),
        -1px -1px 6px rgba(255, 255, 255, 0.4);

}

form div i {
    font-size: 20px;
    /* color: red; */
    position: absolute;
}

form div .fa-circle-check {
    color: green;
}

form div .fa-envelope, form div .fa-user, form div .fa-lock {
    top: 42%;
    left: 15px;
}

form div .fa-circle-exclamation, form div .fa-circle-check {
    color: red;
    left: 85%;
    top: 42%;
    opacity: 0;
}

.formContainer button {
    width: 100%;
    padding: 8px;
    font-size: 20px;
    max-width: 250px;
}