* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.inputName, .inputEmail, .inputPassword, .confirmPass {
    display: flex;
    flex-direction: column;
    padding: 8px;
    /* background: rgb(128, 0, 64); */
    position: relative;
    width: 100%;
}


.mainContainer {
    /* background: blue; */
    background: #dde1e7;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.masterContainer {
    /* background: green; */
    padding: 1rem;
}

#buttonDiv {
    background: brown;
    width: 100%;
    padding: 6px;
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}

#buttonDiv button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    max-width: 140px;
}

#buttonDiv button i {
    color: #1877F2;
    font-size: 25px;

}

#buttonDiv #fbBtn {
    display: flex;
}

#buttonDiv #withFacebook #facebookIcon {
    color: #1877F2;
}

#buttonDiv #withGoogle #googleIcon, #buttonDiv #withFacebook #facebookIcon {
    width: 25px;
}

#orDiv {
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
}

.formContainer {
    background: #dde1e7;
    /* background: purple; */
    /* width: fit-content; */
    color: gray;
    border-radius: 10px;
    box-shadow: -3px -3px 7px #ffffff73,
        2px 2px 5px rgba(94, 104, 121, 0.288);
    padding: 1rem;
    display: flex;

}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    width: 300px;
    /* background: yellow; */

}

.nameError, .emailError, .passwordError {
    color: red;
    padding: 1px;
    margin-top: 3px;
    background: white;
    border-radius: 3px;
    font-size: 1rem;
    font-weight: bold;
    padding-left: 1rem;
    /* text-align: center; */
}

form label {
    /* color: aqua; */
    display: block;
    /* background: yellow; */
    margin-bottom: .5rem;
}

form input::placeholder {
    font-size: 1rem;
    /* padding: 0 25px; */
}

form div input {
    width: 100%;
    max-width: 300px;
    flex: 1;
    height: 45px;
    border: none;
    outline: none;
    padding: 0px 30px;
    border-radius: 6px;
    color: black;
    font-size: 15px;
    background-color: transparent;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 1),
        -1px -1px 6px rgba(255, 255, 255, 0.4);

}

form div i {
    font-size: 20px;
    /* color: red; */
    position: absolute;
}

form div .fa-circle-check {
    color: green;
}

form div .fa-circle-exclamation {
    color: red;
}


.inputIcons, .email_Icons, .password_Icons {
    position: relative;
    width: 100%;
    max-width: 400px;
    /* background: green; */
    /* padding: 8px; */
}

form div .fa-envelope, form div .fa-user, form div .fa-lock {
    position: absolute;
    top: 26%;
    left: 4px;
}

form div .fa-circle-exclamation, form div .fa-circle-check {
    /* color: red; */
    left: 89%;
    top: 27%;
    opacity: 0;
}

.formContainer button {
    width: 100%;
    padding: 8px;
    font-size: 20px;
    max-width: 250px;
}

.confirmPass {
    width: 100%;
    height: 100px;
    /* background: #1877F2; */
}

.confirmPassword {
    position: relative;
}

.passConfirm {
    position: absolute;
    top: 30%;
}